<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Mihail's Weather</title>
    <meta name="viewport" content="initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="container">
        <fieldset>
            <form action="/" method="post">
                <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
                <input type="submit" class="ghost-button" value="Get Weather">
            </form>
            <% if(typeof weather !== 'undefined'){ %>
                <p>
                    <%= weather %>
                </p>
            <% } %>
            <% if(typeof img !== 'undefined'){ %>
                <%= img %>
            <% } %>
            <% if(typeof error !== 'undefined'){ %>
                <p>
                    <%= error %>
                </p>
            <% } %>
        </fieldset>
    </div>
</body>

</html>
